table{
    border: 3px solid rgb(196, 191, 191);
      width: 90%;
}
.cont-table{
    
display: flex;
justify-content: center;
align-items: center;


}
table tr ,table tr td ,table tr th {
    padding: 10px;
    border: 2px solid rgb(185, 185, 185);


 
    overflow: hidden;
   
}
table tr th {
    text-align: center;
   
}
table tr td {
    box-sizing: border-box;

width: 350px;
height: 350px;
overflow-y: auto;

}
.formUpdate{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
table tr td *{
    text-align: center;
}